div,
input {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(74, 74, 74);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#root {
    text-align: center;
}

.app-main {
    display: inline-block;
    width: 100%;
    max-width: 1200px;
    text-align: left;
}

.app-main-inner {
    position: relative;
    width: 100%;
}