.board {
    display: table;
    border: rgb(255, 176, 0) 5px solid;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.board-outer {
    width: 66vw;
    height: 66vw;
    top: 0px;
    right: 0px;
    position: absolute;
    padding: 10px;
}

.board-row {
    display: table-row
}

.board-cell {
    display: table-cell;
    border: rgb(164, 164, 164) 1px solid;
    width: 10%;
    height: 10%;
    background-position: center;
    background-size: 110%;
}

.board-cell.shoot {
    background-image: url('../assets/miss.png');
}

.board-cell.shoot.hit {
    background-image: url('../assets/hit.png');
}

@media(min-width: 1200px) {
    .board-outer {
        width: 800px;
        height: 800px;
    }
}

@media(max-width: 800px) {
    .board-outer {
        width: 100vw;
        height: 100vw;
        padding-top: 0px;
        padding-bottom: 20px;
    }
}

@media (max-width: 570px) {
    .board-outer {
        margin-top: -15px;
        padding: 0px;
    }
}