.board {
    display: table;
    border: orange 5px solid;
    border-collapse: collapse;
}

.board-row {
    display: table-row
}

.board-cell {
    display: table-cell;
    border: gray 1px solid;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: 105%;
}

.board-cell.shoot {
    background-image: url('../assets/miss.png');
}

.board-cell.shoot.hit {
    background-image: url('../assets/hit.png');
}