.game-over {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: whitesmoke;
    font-size: 20px;
    box-sizing: border-box;
}

.game-over.show {
    display: block;
}

.game-over-label {
    margin: 20px 0px;
}

.game-over-button {
    padding: 10px 30px;
    font-size: 20px;
    background-color: rgb(255, 176, 0);
    margin: 0px 50px;
}