.ship-summary {
    display: block;
    width: 33%;
}

.ship-row {
    display: inline-block;
    width: 100%;
    height: 40px;
    margin: 10px;
}

.ship-row-inner {
    display: table;
}

.ship-row-inner>div {
    display: table-cell;
}

.shippic {
    width: 100px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 0px;
    left: 0px;
}

.shippic.carrier {
    background-image: url(../assets/aircraft_shape.png);
}

.shippic.battleship {
    background-image: url(../assets/battleship_shape.png);
}

.shippic.cruiser {
    background-image: url(../assets/cruiser_shape.png);
}

.shippic.submarine {
    background-image: url(../assets/submarine_shape.png);
}

.shippic.destroyer {
    background-image: url(../assets/carrier_shape.png);
}

.ship-live {
    padding-top: 5px;
}

.livescore {
    width: 20px;
    height: 20px;
    margin: 3px;
    background-image: url(../assets/miss_small.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.livescore.shooted {
    background-image: url(../assets/hit_small.png);
}

@media(max-width: 800px) {
    .ship-summary {
        top: 100vw;
        left: 200px;
        right: 0px;
        width: auto;
        position: absolute;
    }
    .ship-row {
        width: 49%;
        margin: 0px;
        height: auto;
    }
    .shippic {
        width: 70px;
        height: 40px;
    }
    .livescore {
        width: 15px;
        height: 15px;
        margin: 2px;
    }
}

@media (max-width: 570px) {
    .ship-summary {
        margin-top: 55px;
        left: auto;
        width: 98%;
    }
    .shippic {
        width: 60px;
        height: 35px;
    }
    .livescore {
        width: 12px;
        height: 12px;
        margin: 2px;
    }
}